$primary-background-color: #FFFFFF !default;
$secondary-background-color: #5F34B2 !default;
$third-background-color: #000000 !default;

$primary-font-color: #000000 !default;
$secondary-font-color: #FFFFFF !default;
$third-font-color: #5F34B2 !default;
