$primary-background-color: #fff !default;
$secondary-background-color: #5f34b2 !default;
$third-background-color: #000 !default;

$primary-font-color: #000 !default;
$secondary-font-color: #fff !default;
$third-font-color: #5f34b2 !default;
