{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>

    {% include 'incl/footer.twig' %}

    document.addEventListener('DOMContentLoaded', function () {
      var navToggle = document.getElementById('nav-toggle');
      var nav = document.querySelector('.nav');

      navToggle.addEventListener('click', function () {
          nav.classList.toggle('open'); // Lägg till eller ta bort .open-klassen
      });
  });

</body>

</html>
