{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="tech" role="main">
        <div class="tech-content">
            {# <h1 class="title">{{ title }}</h1> <!-- Titel från YAML-frontmatter -->
            <p>{{ description }}</p> <!-- Beskrivning från YAML-frontmatter --> #}

            <div class="technologies-grid">
                <!-- Här renderar vi innehållet från index.md -->
                <div class="content">
                    {{ content }} <!-- Här renderas själva innehållet från index.md -->
                </div>
            </div>
        </div>
    </div>

    {# {% include 'incl/footer.twig' %} #}
</body>
</html>
