@use 'variables/_index.scss' as *;

.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-background-color;
}

.footer .social {
  a {
    text-decoration: none;
    font-size: 3rem;
    color: $secondary-font-color;
    transition: color 0.3s ease, text-decoration 0.3s ease;

  }
}

.footer .social {
  a:hover {
    color: #9C8035 !important;
  }
}

.footer .darkmode {
  a {
    padding: 10px;
    text-decoration: none;
    font-size: 2rem;
    color: $secondary-font-color;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
}

.footer .darkmode {
  a:hover {
    color: #9C8035 !important;
  }
}

.footer-p {
  color: $secondary-font-color;
}
