@use 'variables/_index.scss' as *;

.logo {
  width: 15%;
  max-width: 120px;
}

.logo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px gray;
  color: $third-font-color;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  font-size: 2rem;
  text-decoration: none;
  color: $third-font-color !important;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.nav a:hover {
  color: #9C8035 !important;
  text-decoration: underline;
}

.header a {
  text-decoration: none;
  color: $third-font-color;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}
