@use 'variables/index.scss' as * with ($primary-background-color: #000000,
  $secondary-background-color: #ffffff,
  $third-background-color: #8965D2,
  $primary-font-color: #FFFFFF,
  $secondary-font-color: #000000,
  $third-font-color: #8965D2,
);

@use 'variables-dark';
@use 'typography';
@use 'container';
@use 'footer';
@use 'header';
@use 'blockquotes';
@use 'code';
@use 'technology';
@use 'analysis';
@use 'gallery';

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&family=Bungee&family=Coiny&family=Quicksand:wght@300..700&display=swap');


// @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Patrick+Hand&display=swap');

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';

/* Se till att box-sizing används för alla element */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Grundläggande styling för body */
body {
  // font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Förhindrar horisontell scrollning */
  background-color: $primary-background-color;
}

h1,
h2,
h3,
li a {
  font-family: 'Black Ops One', serif;
}

h1,
p {
  font-family: 'Archivo Black', serif;
  color: $primary-font-color;
}

.title p,
.analysis-link h3 {
  color: #9c8035 !important;
}

.analysis-link h3:hover {
  color: #9c8035 !important;
}

code {
  color: $secondary-font-color;
}

.tech-link {
  background-color: $secondary-background-color;
}

.main a {
  color: #9c8035;
}


// li a {
//   font-family: "Archivo Black", serif;
// }

/* Standardinställningar för main */
.main {
  width: 100%;
  /* Se till att .main fyller hela bredden */
  max-width: 80vw;
  /* Begränsar bredden till viewport-bredden */
  margin: 0 auto;
  /* Centrerar innehållet om du har en max-bredd */
  padding: 20px;
  /* Lite padding för att ge utrymme */
  // border: solid 2px $secondary-background-color;
  // background-color: $primary-background-color;
}

.hidden {
  display: none !important;
}

.footer {
  background-color: $primary-background-color;
}

.footer-p,
h1 {
  color: #9c8035;
}

.footer .social {
  a {
    color: #9c8035;
  }
}

.footer .darkmode {
  a {
    color: #9c8035;
  }
}

.nav ul li {
  a {
    color: #9c8035 !important;
  }
}

.loadingtime-table {
  width: 100%;
  height: 600px;
}

@media (max-width: 768px) {
  body {
    padding: 0 10px;
    /* Lägger till lite padding på små skärmar */
  }

  .main {
    width: 100%;
    padding: 10px;
    /* Minska padding på små skärmar */
  }
}

@media (max-width: 480px) {
  body {
    padding: 0 5px;
    /* Minska padding ännu mer om skärmen är väldigt liten */
  }

  .main {
    padding: 5px;
    /* Minska padding för ännu mindre skärmar */
  }
}
