// Basfärger
$midnight-blue: #2c3e50;
$dark-gray: #5d6d7e;
$light-gray: #bdc3c7;
$silver: #ecf0f1;
$gold: #d4af37;
$gold-dark: #b7905e;

// Primära färger
$primary-background: $midnight-blue;
$primary-text: $light-gray;

// Navbar och Footer
$navbar-footer-background: $light-gray;
$navbar-footer-link: $midnight-blue;
$navbar-footer-link-hover: $dark-gray;

// Rubriker
$heading-color: $gold;

// Accentuering
$accent-color: $gold;
$accent-dark-color: $gold-dark;
