@import 'variables';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $navbar-footer-background;
  padding: 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
}
