@use '../../node_modules/normalize.css/normalize' as *;
@use 'variables' as *;
@use 'header' as *;
@use 'footer' as *;
@use 'main' as *;
@use 'blockquotes' as *;
@use 'code' as *;
@use 'mobile-menu' as *;
@use 'technologies' as *;


@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// Global resets och normalisering
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body-stilar */
body {
  font-family: 'Edu AU VIC WA NT Pre', sans-serif;
  color: $primary-text;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  background-color: $primary-background;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.main-content {
  background-color: $primary-background;
  color: $primary-text;
  padding: 40px;
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;


  @media (max-width: 600px) {
    width: 90%;
    padding: 20px;
  }
}

a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: $navbar-footer-link;
  transition: color 0.3s ease;

  &:hover {
    color: $navbar-footer-link-hover;
  }
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $primary-text;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: $heading-color;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  font-size: 1.25rem;
}

.sandra-img {
  width: 50%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
}
