@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'header';
@import 'footer';
@import 'main';
@import 'blockquotes';
@import 'code';
@import 'mobile-menu';
@import 'technologies';




@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// .tech {
//   background-color: rgb(244, 19, 56);
// }

// Global resets och normalisering
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body-stilar */
body {
  font-family: 'Edu AU VIC WA NT Pre', sans-serif;
  // color: $primary-text;
  color: #bdc3c7;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  // background-color: $primary-background;
  background-color: #2c3e50;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.main-content {
  // background-color: $primary-background;
  background-color: #2c3e50;
  // color: $primary-text;
  color: #bdc3c7;
  padding: 40px;
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;


  @media (max-width: 600px) {
    width: 90%;
    padding: 20px;
  }
}

a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  // color: $navbar-footer-link;
  color: #2c3e50;
  transition: color 0.3s ease;

  &:hover {
    // color: $navbar-footer-link-hover;
    color: #5d6d7e;
  }
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  // color: $primary-text;
  color: #bdc3c7;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  // color: $heading-color;
  color: #d4af37;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  font-size: 1.25rem;
}

.sandra-img {
  width: 50%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
}
