@use '../../node_modules/normalize.css/normalize' as *;
@use 'variables' as *;
@use 'header'as *;
@use 'main'as *;
@use 'blockquotes' as *;
@use 'code' as *;
@use 'mobile-menu' as *;

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

// Global resets och normalisering
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Edu AU VIC WA NT Pre', sans-serif;
  background-color: $primary-background;
  color: $primary-text;
  line-height: 1.6;
}
